.filmesPre{
    position: absolute;
    top: 150px;
    left: 85px;

}
#titulo{
    color: #FFFFFF;
    font-weight:700;
}
#filmePre1{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    margin-left: 0px;
    width: auto;
    height: auto;
}
#filmePre2{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre3{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre4{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre5{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre6{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre7{
    background-color: #0000;
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmePre8{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#titulo2{
    color: #FFFFFF;
    font-weight:700;
}
#filmeAc1{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    margin-left: 0px;
    width: auto;
    height: auto;
}
#filmeAc2{
    max-width:303px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc3{
    max-width:303px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc4{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc5{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc6{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc7{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
#filmeAc8{
    max-width:163px;
    max-height:206px;
    left: -46px;
    margin: 11px;
    width: auto;
    height: auto;
}
